.home-header {
   .brand-logo {
      max-width: 380px;

      @media screen and (max-width: 991px) {
         max-width: 200px;
      }

      @media screen and (max-width: 767px) {
         max-width: 150px;
      }

      @media screen and (max-width: 575px) {
         max-width: 100px;
      }
   }

   .navbar-collapse {
      .navbar-nav {
         .nav-link {
            font-family: 'Infinite-Beyond';
            font-size: 18px;
            font-weight: 400;
            color: #3093a8;
            font-style: italic;
            letter-spacing: 2px;

            &:hover {
               color: #0c687b;
            }
         }
      }
   }
}